body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Стили заголовка */
header {
    background-color: #007BFF;
    color: white;
    padding: 15px 20px; /* Добавляем отступы сверху/снизу и справа/слева */
    display: flex; /* Используем Flexbox для выравнивания */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Центрируем элементы по вертикали */
    position: absolute; /* Фиксируем заголовок в верхней части страницы */
    width: calc(100% - 40px); /* Уменьшаем ширину заголовка на 40px для отступов */
    top: 0; /* Позиционируем заголовок вверху */
    z-index: 1000; /* Устанавливаем высокий z-index, чтобы заголовок был поверх других элементов */
}

header a {
    color: white; /* Белый цвет текста для ссылок */
    text-decoration: none;
    font-weight: bold;
    padding: 10px; /* Добавляем отступы для кликабельной области */
}

header a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Размер контейнера */
    margin-top: 80px; /* Добавляем отступ сверху, чтобы контейнер не перекрывался заголовком */
}

h2 {
    text-align: center;
}

label {
    margin-top: 5px;
}

input {
    width: 100%; /* Поля ввода занимают всю ширину контейнера */
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Учитываем отступы в ширине */
}

button {
    width: 100%; /* Кнопки занимают всю ширину контейнера */
    padding: 10px;
    margin-top: 5px; /* Уменьшен отступ сверху для уменьшения расстояния между кнопками */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box; /* Учитываем отступы в ширине */
}

button:hover {
    background-color: #0056b3;
}

#message {
    text-align: center;
    margin-top: 5px;
    color: red;
}

.register-container {
    text-align: center;
    margin-top: 5px;
}

#register-button {
    background-color: #28a745;
    margin-top: 5px; /* Меньший отступ между кнопками */
}

#register-button:hover {
    background-color: #218838;
}